<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>{{homePageTitle}}</title>

    </head>

    <body>
        {{> header}}
        <p>Para {{toCapitalLetters paragraphText}}</p> <!-- ccall function toCapitalLetters and pass argument paragraphText -->

        {{> footer}}  <!-- call footer -->
    </body>
</html>
